/Analysator.class
/FalscheSyntaxException.class
/Klammern.class
/MalRechnung.class
/Rechnung.class
/SinCosTan.class
/Wurzel.class
/Zahl.class
/BadSyntaxException.class
/Multiplikation.class
/Number.class
/Parenthesis.class
/Root.class
/StringUtils.class
/Term.class
